.about-content {
  display: flex;
  padding-top: 20px;
  justify-content: space-evenly;
}

.about-text {
  a {
    color: $light-gray;
    text-decoration: underline;
  }
}

// Desktop
@media screen and (min-width: 992px) {
  .about-image {
    float: right;
  }
}

// Mobile
@media screen and (max-width: 992px) {
  .about-text {
    text-align: center;
  }
  .about-image {
    text-align: center;
  }
}


