.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-details {
  text-decoration: none;
  a {
    color: $light-gray;
    text-decoration: none;
  }
  p {
    font-size: 15px;
  }
  h3 {
    padding-bottom: 10px;
  }
}

.contact-button-mob {
  text-align: center;
}

// Desktop
@media screen and (min-width: 992px) {

}

// Mobile
@media screen and (max-width: 991px) {
  .contact-details {
    text-align: center;
  }
}

