.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-phone-padding {
  padding-top: 8px;
  font-size: 19px;
  a {
    color: $light-gray;
    text-decoration: none;
  }
}

.contact-button-mob {
  text-align: center;
}
