<div class="banner">
  <div class="container">
    <h1>ABOUT US</h1>
  </div>
</div>
<div class="content">
  <div class="container">
    <div class="about-content">
      <div class="row">
        <div class="col-sm-6">
          <div class="about-text">
            <h1>About Ritchie's Gardens</h1>
            <p>With over 10 years of experience in landscaping and garden maintenance, you are in good hands with Ritchie's Gardens. Founded in 2017 by Ben Ritchie, the businesss has xxxx </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="about-image">
            <%= image_tag "logo-white-stacked.png", height: 300 %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

