<div class="banner">
  <div class="container">
    <h1>ABOUT US</h1>
  </div>
</div>
<div class="content">
  <div class="container">
    <div class="about-content">
      <div class="row">
        <div class="col-sm-6">
          <div class="about-text">
            <h1>About Ritchie's Gardens</h1>
            <p>With over 10 years of experience in landscaping and garden maintenance, you are in the best hands when choosing Ritchie's Gardens. Founded in 2017 by Ben Ritchie, Ritchie's Gardens focuses on providing exceptional customer service along with efficient and professional horticulture services. Contact Ritchie's Gardens for all garden maintenance & soft landscaping enquires <%= link_to "here",contact_path, class: "about-text" %>.</p>
            <div class="row">
              <div class="col-sm-6">
      <!--           <p>Services include:</p>
                <ul>
                  <li>Planting</li>
                  <li>Lawn Mowing & Lawn Care</li>
                  <li>Weed Control</li>
                  <li>Fertilising</li>
                  <li>Pruning & Trimming</li>
                  <li>Tree Work</li>
                  <li>Garden Cleanup</li>
                  <li>Garden Rubbish Removal</li>
                  <li>All Soft Landscaping</li>
                </ul> -->
              </div>
              <div class="col-sm-6">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="about-image">
            <%= image_tag "logo-white-stacked.png", height: 300, alt: "Ritchie's Gardens Logo White Stacked" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

