<div class="banner">
  <div class="container">
    <div>
      <h1>CONTACT US</h1>
    </div>
  </div>
</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-5">
        <div class="contact-details">
          <h1>Contact Ritchie's Gardens</h1>
          <h3>We'd love to hear from you!</h3>
          <p>Fill out the enquiry form or give us a call on <%= link_to "tel: +613 423 418 087", target: :_blank, class: "contact-phone-padding" do %>0423 418 087<% end %> and we'll get back to you as soon as we can.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="form-header">
          <h3>Enquire below for a free quote</h3>
        </div>
        <%= render 'contacts/form' %>
      </div>
    </div>
  </div>
</div>

