<div id="home" class="banner">
  <div class="container">
    <div class="typed">
      <span id="banner-typed-text"></span>
    </div>
   <!--  <button type="button" class="btn btn-success">Danger</button> -->
  </div>
  <div id="section05" class="demo">
    <a href="#content"><span></span></a>
  </div>
</div>
<div id="content">
  <div class="container">
    <h1>ENQUIRE TODAY FOR A FREE QUOTE</h1>
    <p>We'll come to you to evaluate the work you need done and provide a quote within 2 business days.</p>
  </div>
</div>

