<h1>Enquiry from Ritchie's Gardens Online</h1>

<ul>
  <li>NAME: <%= @contact.name %></li>
  <li>EMAIL: <%= @contact.email%></li>
  <li>PHONE: <%= @contact.phonenumber%></li>
  <li>MESSAGE: <%= @contact.message%></li>
</ul>
