// universal css

.footer {
  padding-top: 60px;
  width: 100%;
  display: flex;
  align-items: baseline;
}

.footer-phone {
  a {
    color: $light-gray;
  }
  a:hover {
    text-decoration: none;
    color: $light-gray;
  }
}

i {
  color: $green;
}

.footer-copyright {
  font-size: 10px;
  padding-bottom: 15px;
}

.footer-abn {
  font-size: 10px;
  padding-bottom: 15px;
}

.footer-small-print {
  display: flex;
  padding-top: 23px;
}


// Desktop
@media screen and (min-width: 992px) {
  .footer {
    justify-content: space-between;
  }
  .footer-phone {
    a {
      font-size: 17px;
    }
    i {
      font-size: 20px;
      padding-right: 6px;
    }
  }
  .socials {
    padding-left: 30px;
    i {
      font-size: 25px;
      padding-right: 10px;
    }
  }
  .footer-small-print {
  justify-content: space-between;
  }
}

// Mobile
@media screen and (max-width: 992px) {
  .footer {
    justify-content: space-around;
  }
  .logo-footer {
    height: 60px;
  }
  .footer-phone {
    a {
      font-size: 12px;
    }
    i {
      font-size: 15px;
    }
  }
  .socials {
    i {
      font-size: 17px;
    }
    .fa-instagram {
      padding-left: 10px;
    }
  }
  .footer-copyright {
    font-size: 8px;
  }

  .footer-abn {
    font-size: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .footer-small-print {
    flex-direction: column;
    align-items: center;
  }
}


